$header_login-btn: #737373;
$login_background: #f0f1f1;
$login_border: #d4dddd;
$header_info-btn: #3c3c3c;
$signup_header-btn: #fad648;
$pagination--active: #f7f2d6;
$success: #0fca0f;
$error: #ff0000;
$columns_number: #5e5322;
$steps_hr: #a8a5a5;
$contact_form_background: #ffffffc9;
$donate_background: #fad648;
$checkbox: #f50057;
$white: #fff;
