.header_container {
  height: 100vh;
  background-image: url("../../assets/Home-Hero-Image.jpg");
  background-size: 60% 100%;
  background-repeat: no-repeat;
  background-position: -280px;

  @media screen and (max-width: 1300px) {
    background-size: 70% 100%;
  }
  .header_wrapper {
    .header_content {
      position: absolute;
      right: 25%;
      top: 35%;

      &--title {
        text-align: center;
        color: $header_info-btn;
        letter-spacing: 0.15rem;
        font-size: 1.8rem;
        line-height: 40px;
      }

      &--hr {
        width: 50%;
        margin-top: 1.2rem;
        border: 0.5px solid $steps_hr;
      }
    }
  }
}
