@import "./generic/reset";
@import "./settings/fonts";
@import "./settings/colors";
@import "./settings/buttons";

* {
  box-sizing: border-box;
}

body {
  font-family: $font-base;
}

// HomeHeader

.header_container {
  height: 100vh;
  background-image: url("../assets/Home-Hero-Image.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: -280px;

  .header_content {
    position: absolute;
    right: 25%;
    top: 35%;

    &--title {
      text-align: center;
      color: $header_info-btn;
      letter-spacing: 0.15rem;
      font-size: 1.8rem;
      line-height: 40px;
    }

    &--hr {
      width: 50%;
      margin-top: 1.2rem;
      height: 0.5px;
    }
    .header_content--buttons {
      margin-top: 3rem;
      font-size: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .content--left {
      padding: 1em 0;
    }
  }
}

.header_content--btn {
  border: 0.75px solid $header_info-btn;
  text-transform: uppercase;
  padding: 0.5em 1.2em;
  width: 47%;
  text-align: center;
  color: $header_info-btn;
  border-radius: 2px;
  text-decoration: none;
}
.header_buttons {
  text-align: right;
  padding-top: 1.5rem;
  padding-right: 3rem;

  &--login {
    color: $header_login-btn;
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
  }
}
.header_login--btn,
.header_logout--btn {
  margin-left: 0.6rem;
  padding: 0.4em 0.7em;
  text-decoration: none;
}

.header_logout--btn {
  border: none;
  background-color: #fff;
  color: $header_login-btn;
}

.header_btn--border {
  border: 0.75px solid $signup_header-btn;
}

.user_logged {
  margin-right: 1rem;
  .hello_name {
    font-style: italic;
    margin-left: 0.2rem;
  }
}

.header_info--btn {
  margin-left: 3.3rem;
  color: $header_info-btn;
  font-size: 0.9rem;
  letter-spacing: 0.02rem;
}

.header_login--btn:hover,
.header_info--btn:hover,
.header_content--btn:hover {
  cursor: pointer;
}

// LoginCard

.login_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    rgba(238, 234, 234, 0.151),
    rgba(238, 232, 232, 0.322)
  );

  padding: 1em 1em;
  border-radius: 8px;

  .login_title {
    font-size: 1.2rem;
    font-family: $font-base;
    color: $header_info-btn;
    margin-bottom: 1.5rem;
    font-style: italic;
  }

  .login_choices {
    display: flex;
    flex-direction: column;
    padding: 0.8em 3em;
    border-radius: 3px;

    &--field {
      margin-bottom: 1rem;
    }

    .login_email {
      border: 1px solid $header_login-btn;
      border-radius: 3px;
      padding: 0.6em 2.2em;
      margin-bottom: 0.8em;
    }

    .login_email--txt {
      text-decoration: none;
    }

    .icon_email,
    .icon_google {
      margin-right: 0.5rem;
      color: $header_login-btn;
    }
  }
  .login_text--signup:hover,
  .login_email:hover {
    cursor: pointer;
  }

  .login_back {
    margin-top: 1.3rem;
    font-size: 0.7rem;
    text-align: center;

    &--btn {
      border: 1px solid $signup_header-btn;
      width: 20%;
      border-radius: 3px;
      padding: 0.3em 1.5em;
      font-style: italic;
      text-decoration: none;
    }
  }

  .left_arrow--icon {
    padding-right: 0.5rem;
    color: $header_login-btn;
  }

  .login_text--wrapper {
    font-style: italic;
    font-size: 0.8rem;

    .login_text--signup {
      text-decoration: underline;
      font-style: normal;
      margin-left: 1rem;
    }
  }
}

// Login

.login_inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  padding: 0 1.5em;

  .inputs_field {
    margin-bottom: 0.5rem;
  }

  .login_error {
    color: red;
    font-size: 0.5rem;
    line-height: 1.2rem;
    margin-bottom: 0.5rem;
  }
}

.login_btn--wrapper {
  margin-bottom: 0.8em;

  .login_btn {
    border: 1px solid $header_login-btn;
    color: $header_login-btn;
    border-radius: 3px;
    padding: 0.4em 1.8em;
    font-size: 0.9rem;
  }

  .login_btn:hover {
    cursor: pointer;
  }
}

.signup_wrapper {
  margin-top: 2.5rem;
  padding: 1em 3em;
  .signup_inputs {
    display: flex;
    flex-direction: column;
    .inputs_field--reg {
      margin-bottom: 0.5rem;
    }
  }
  .signup_error {
    color: red;
    font-size: 0.5rem;
    line-height: 1.2rem;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
  }
}

.signup_btn--wrapper {
  margin-top: 0.8rem;
  .signup_btn {
    border: 1px solid $header_login-btn;
    color: $header_login-btn;
    border-radius: 3px;
    padding: 0.4em 1.2em;
    font-size: 0.8rem;
  }

  .signup_btn:hover {
    cursor: pointer;
  }
}

.user_error {
  color: $error;
  font-size: 0.7rem;
  margin-top: -0.2rem;
  margin-bottom: 1rem;
}

.excl_mark {
  margin-right: 0.3rem;
}

// columns

.columns_wrapper {
  background-image: url("../assets/Columns_Background.png");
  // width: 80%;
  display: flex;
  justify-content: space-around;
  text-align: center;

  .column_element {
    width: calc(100% / 6);
    margin: 2.5rem 0;

    &--number {
      color: $columns_number;
      font-size: 3rem;
      font-weight: 300;
    }

    &--title,
    &--text {
      margin-top: 1rem;
      color: $header_info-btn;
    }

    &--title {
      font-size: 0.8rem;
      text-transform: uppercase;
    }

    &--text {
      line-height: 1.2rem;
      font-size: 0.6rem;
      font-family: $font-column;
      letter-spacing: -0.32px;
      font-style: italic;
    }
  }
}

// steps

.steps_wrapper {
  margin-top: 2rem;
  text-align: center;
  color: $header_info-btn;

  .steps_title {
    font-size: 1.4rem;
    letter-spacing: -0.76px;
  }

  .steps_info {
    margin-top: 2.3rem;
    padding: 2.4em 18em;
    background: $login_background 0% 0% no-repeat padding-box;
    display: flex;
    justify-content: space-between;
  }
  .steps_info--box {
    width: 50%;
    margin: 0 1.7rem;
    display: flex;
    flex-direction: column;

    // .steps_info--imgOne,
    // .steps_info--imgTwo,
    // .steps_info--imgThree,
    // .steps_info--imgFour {
    //   width: 80%;
    //   height: 100%;
    // }

    .steps_icon {
      font-size: 1.7rem;
      margin-bottom: 0.2rem;
    }

    .steps_info--title {
      font-size: 0.65rem;
      margin-top: 0.3rem;
      text-align: center;
    }

    .steps_info--hr {
      width: 30%;
      border: 0.1px solid $steps_hr;
    }

    .steps_info--desc {
      font-size: 0.6rem;
    }
  }

  .steps_btn {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-family: $header_info-btn;
    font-weight: 300;
  }
}
